div.container {
    width: calc(100vw + 10px);
    height: calc(100vh + 10px);
    background: linear-gradient(180deg, rgba(70,70,70,1) 0%, rgba(20,20,20,1) 100%);
    position: fixed;
    top: -10px;
    left: -10px;
}
#colorButton{
    background: url('images/Button1.png');
    background-size: cover;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    z-index: 11;
    width: 80px;
    height: 80px;
    left: 57%;
    top: 110%;
    opacity: .5;
}
#colorSlider{
    background: url('images/ColorSlider.png');
    background-size: cover;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    max-width: 800px;
    height: 40px;
    left: 50%;
    top: 110%;
    opacity: 0;
    pointer-events: none;
}
#shadow{
    position: fixed;
    z-index: 5;
    -webkit-transform: translate(-50%,-50%);
    width: 30vw;
    height: 15vw;
    left: 50%;
    top: 70%;
    opacity: 0;
    pointer-events: none;
}
div{
    background-color: rgb(85,185,255);
    width: 5px;
    height: 5px;
    position: fixed;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
#overlay{
    position: fixed;
    z-index: 4;
    left: -10px;
    top: -10px;
    width: calc(100vw + 10px);
    height: calc(100vh + 10px);
    background-color: rgba(0,0,0,0);
}
#annotation{
    position: fixed;
    -webkit-transform: translate(-50%,-50%);
    left: 50vw;
    top: 10vh;
    color: rgba(255,255,255,0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}
#shapes svg{
    position: fixed;
    z-index: 5;
    right: -70px;
    width: 50px;
    height: 50px;
    fill: none;
    stroke: rgb(180,180,180);
    stroke-width: 5;
}
#shapes svg:hover{
    stroke-width: 12;
}
#shapes svg.selected{
    stroke: white;
    stroke-width: 12;
}
#sphere{
    top: 20%;
}
#cube{
    top: 30%;
}
#selector{
    position: fixed;
    z-index: 3;
    right: -10%;
    width: 7%;
    height: 50px;
    opacity: .3;
    fill: rgb(255,255,255);
    stroke: rgb(255,255,255);
    -webkit-transform: translate(0, -50%);
    top: calc(20% + 25px);
    pointer-events: none;
}